.container {
    max-width: 1200px;
    height: fit-content;
    margin: 0px auto;
    padding: 50px;
}

.carousel {
    width: 1200px;
    height: 800px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: black;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    color: currentColor;
    font-size: 2rem;
}

button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.previous:hover span {
    transform: translateX(-10px) scale(1.2);
    align-self: flex-end;
}

.next:hover span {
    transform: translateX(10px) scale(1.2);
}

.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider-nav li {
    display: flex;
    // flex: 2;
    text-align: center;
}

.img {
    border-radius: 50px;
    box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
    width: 1200px;
    height: 800px;
    object-fit: cover;
    z-index: 100;
}

img.active {
    display: block;
    -webkit-animation: fadeImg 0.8s;
    animation: fadeImg 0.8s;
}

// .slider-nav .arrow {
//     flex: 0 0 15%;
// }

@-webkit-keyframes fadeImg {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes fadeImg {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}