.header {
    font-family: $main-font;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 57px;

    &__logo {
        width: 177px;
        height: 50px;
    }

    &__menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        column-gap: 25px;
    }

    &__menu-list-item-link {
        text-decoration: none;
        color: $text-color;
        font-size: 18px;
        font-size: 20px;
        font-weight: 400;
        line-height: 125%;  
    }
}