.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        width: 658px;
    }

    &__title {
        font-family: $headers-font;
        font-size: 50px;
        font-weight: 400;
    }

    &__text {
        font-family: $main-font;
        color: $text-color-light;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 25px;
    }
}