$main-font: 'Jost', sans-serif;
$headers-font: "DM Serif Display", serif;
$text-color: #292F36;
$text-color-light: #4D5053;
$bg-color:#FFFFFF;
$bg-color-accent: #F4F0EC;

$default-margin: 0;
$default-padding: 0;
$accent-color: #CDA274;
$border-color: #E7E7E7;

//разделитель в навигации
$breadcrumb-divider: quote("/");